.App {
  text-align: center;
}


h1 {
  color: rgb(187, 88, 58);
  font-family: 'Righteous', cursive;
  font-size: 130px;
  /* -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #3D4645; */
}

.App-header {
  background-image: URL('https://png.pngtree.com/png-vector/20190226/ourlarge/pngtree-vector-background-seamless--retro-film-png-image_704930.jpg');
  height: 275px;
  padding: 1px;
  /* opacity: 0.6 */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #E5E4B2;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.movie-item {
  display: flex;
  margin: 20px;
  background-color: #E9CCAA;
  /* border: 1px solid	#3D4645; */
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  font-size: 18px;
  flex-direction: column;
  color: #3D4645;
}

.description {
  font-size: 10px;
  padding-top: 5px;
}