.App {
  text-align: center;
}


h1 {
  color: rgb(187, 88, 58);
  font-family: 'Righteous', cursive;
  font-size: 130px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #3D4645;
}

.App-header {
  background-image: URL('https://png.pngtree.com/png-vector/20190226/ourlarge/pngtree-vector-background-seamless--retro-film-png-image_704930.jpg');
  height: 230px;
  padding: 1px;
  /* opacity: 0.6 */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  justify-content: space-around;
  background-color: #E5E4B2;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  
}

.movie-item {
  display: flex;
  margin: 20px;
  background-color: #E9CCAA;
  /* border: 1px solid	#3D4645; */
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  font-size: 18px;
  flex-direction: column;
  color: #3D4645;
}

.description {
  font-size: 10px;
  padding-top: 5px;
}

h5 {
  font-size: 18px;
  font-weight: bold;
}

.homeBtn {
  display: flex;
  margin-left: 93%;
  margin-right: 15px;
  margin-top: 15px;
  padding: 5px;
  background-color:  #E5E4B2;
  width: 64px;
  border-radius: 5px;
  font-size: 24px;
  font-family: 'Righteous', cursive;
}

.link {
  color: rgb(187, 88, 58);
  text-decoration: none;
}

.movie-details {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  justify-content: space-around;
  background-color: #E5E4B2;
  font-family: 'Open Sans', sans-serif;
  height: 500px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  width: 550px;
}

.flexwrap {
  display: flex;
  padding: 30px;
  color: #3D4645;
}

.genres {
  display: flex;
  background-color: #E9CCAA;
  /* border: 1px solid	#3D4645; */
  border-radius: 5px;
  padding: 10px;
  flex-direction: column;
  color: #3D4645;
  height: 150px;
  font-size: 12px;
  width: 100px;
}

.editBtn {
  display: flex;
  /* margin-left: 93%;
  margin-right: 15px; */
  margin-top: 85px;
  background-color: #E9CCAA;
  width: 54px;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Righteous', cursive;
  color: #3D4645;
}

.edit {
  padding: 80px;
  background-color: #E5E4B2;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /* display: flex; */
}

.generalBtn {
  background-color: #E9CCAA;
  margin: 15px;
  width: 77px;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Righteous', cursive;
  color: #3D4645;
  justify-content: center;
}